/* Button.module.css - Rediseño */

.btn {
    cursor: pointer;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    /* Un poco menos redondeado para ser más 'serio' */
    font-size: 1rem;
    font-weight: 600;
    font-family: var(--fuente-principal);
    transition: all 0.3s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    line-height: 1;
}

/* Variante Primaria */
.primary {
    background-color: var(--color-principal);
    color: white;
    border: 1px solid var(--color-principal);
}

.primary:hover {
    background-color: var(--color-principal-claro);
    border-color: var(--color-principal-claro);
    box-shadow: 0 4px 10px rgba(160, 82, 45, 0.3);
    transform: translateY(-1px);
}

.primary:disabled {
    background-color: #ccc;
    border-color: #ccc;
    box-shadow: none;
    transform: none;
    cursor: not-allowed;
}


/* Variante Secundaria */
.secondary {
    background-color: transparent;
    color: var(--color-principal);
    border: 1px solid var(--color-principal);
}

.secondary:hover {
    background-color: rgba(160, 82, 45, 0.1);
}

/* Variante Peligro */
.danger {
    background-color: transparent;
    color: var(--color-peligro);
    border: 1px solid var(--color-peligro);
}

.danger:hover {
    background-color: var(--color-peligro);
    color: white;
}

/* Variante Link (Navegación) */
.link {
    text-decoration: none;
    background-color: transparent;
    color: var(--color-texto-terciario);
    /* Texto claro por defecto en header */
    padding: 5px 0;
    border: none;
    text-transform: uppercase;
    font-family: var(--fuente-titulos);
}

.link:hover {
    color: white;
}

.linkActive {
    color: white;
    border-bottom: 2px solid var(--color-principal);
}

/* Variante Quantity (Control de cantidad) */
.quantity {
    background: transparent;
    border: 1px solid #ccc;
    color: var(--color-texto-principal);
    width: 32px;
    height: 32px;
    padding: 0;
    border-radius: 50%;
    font-size: 1.2rem;
    font-weight: bold;
}

.quantity:hover:not(:disabled) {
    background-color: var(--color-principal);
    color: white;
    border-color: var(--color-principal);
}

.quantity:disabled {
    opacity: 0.3;
    cursor: not-allowed;
}

/* Ajustes Responsive */
@media (max-width: 768px) {
    .btn {
        padding: 10px 20px;
        font-size: 0.9rem;
    }
}