@import url("./environment.css");
html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  /* ¡La clave para matar el scroll horizontal no deseado! */
  overflow-x: hidden;
}

/* Regla universal para un cálculo de tamaño predecible */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--fuente-principal);
  background-color: var(--color-fondo); /* <-- ¡Le damos color al fondo! */
  color: var(--color-texto-principal);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-texto-principal);
}
