.dashboard {
    max-width: 800px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: --color-principal;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.welcome {
    margin-bottom: 2rem;
}

.navList {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style-type: none;
    padding: 0;
}

.navItem {
    margin: 1rem 0;
}

.navItem button {
    width: 100%;
    padding: 15px;
    font-size: 1.1rem;
}